[Unit]
Description=Tenodera Agent
Documentation=https://github.com/tenodera-io/tenodera
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/tenodera-agent
EnvironmentFile=-/etc/tenodera/agent.cnf

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
